<% include partials/header %>
<% include partials/loggedin %>
<% include partials/navbar %>

  <%
    function formattedDate(foundDate){
      foundDate = (foundDate.getMonth() + 1) + '/' + foundDate.getDate() + '/' +  foundDate.getFullYear();
      return foundDate;
    }
  %>
<div class="properties">
  <div class="row">
    <% properties.forEach(function(property, index){ %>
      <%
      var imageString = [];
      var urls = [];
      if(property.image){
        for(var i = 0; i < property.image.length; i++){
          imageString[i] = property.image[i];
          //remove slashes
          imageString[i] = imageString[i].replace(/\\/g, "\/");
          //remove public folder
          imageString[i] = imageString[i].replace("public", "");

          urls[i] = "https://floating-peak-65788.herokuapp.com" + imageString[i];
        }
      }
      %>

          <div class="card card_style">
            <img class="card-img-top" src="<%= urls[0] %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= property.exteriortype %></h5>
              <small class=""> <strong> <%= property.city %> <b>|</b> <%= property.stname %> <b>|</b> <%= property.community %></strong> </small>
            </div>
            <div class="card-body">
              <a href="/properties/<%= property._id %>"><i class="fas fa-eye"></i></a>
              <a href="#" class="card-link">Gallery</a>
              <a href="#" class="card-link">Contact a Realtor</a>
            </div>
          </div>
      <% }); %>
  </div>
  <div class="properties_error">
    <% if(noMatch !== null) { %>
      <h4><%= noMatch %> </h4>
      <% } %>
  </div>
</div>

<% include partials/footer %>
